
.mobile {
    transition: .7s ease;
}
.Icon {
    display: none;
}
@media (max-width:880px) {
    .Links {
        display: none;
    }
    .Icon {
        display: block;
    }
    .btn {
        display: none;
    }
}